* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f6f6f6;
    font-family: Arial, Geneva, sans-serif;
    font-weight: bold;
    font-size: large;
}

#navbar {
    height: 100px;
    position: relative;
    clear: both;
    border: solid red 1px;
}

a.navlink {
    padding-left: 10pt;
    padding-right: 10pt;
    line-height: 60pt;
    text-decoration: none;
    color: #333333;
}
a.navlink:hover {
    line-height: 60pt;
    color: #f6f6f6;
    background-color: #333333;
}

input.searchbox {
    background-image:url('/static/images/mag_glass.png');
    background-repeat: no-repeat;
    background-position: right;
    border-radius: 3px;
    height: 14pt;
}

.navlinksel {
    padding-top: 10pt;
    padding-left: 10pt;
    padding-right: 10pt;
    background-color: #333333;
    color: #f6f6f6;
}

img.align-left {
    float: left;
}

h1, h2, h3, h4, h5 {
    font-family: Times, serif;
    margin: 5pt;
    color: #444444;
}

h1 {
    font-size: 30pt;
    font-style: italic;
    /* font-weight: normal; */
    margin: 10pt;
}

h3 {
    font-size: 20pt;
    font-weight: normal;
}

#topborder {
   background-color: #333333;
   height: 10px;
   width: 100%;
}
