* {
    margin: 0;
    padding: 0;
}
.errorlist {
    margin-left: 5pt;
    list-style: square inside;
    color: red;
    font-size: small;
}
body {
    background-color: #f6f6f6;
    color: #333333;
    font-family: Arial, Geneva, sans-serif;
    font-size: 10pt;
}

#navbar {
    height: 100px;
    position: relative;
    clear: both;
    border: solid red 1px;
}

#nav {
    /* clear: both; */
    height: 100px;
}
#nav ul {
    width: 600px;
    list-style: none;
    float: left;
    display: inline;
    margin: 0;
    padding: 0;
}
#nav ul li {
    display: inline;
}

#nav ul li a {
    display: block;
    float: left;
    width: auto;
    text-decoration: none;
    color: #333333;
    /* border: 1px solid red; */
    text-transform: uppercase;
    padding-top: 10pt;
    padding-left: 0pt;
    padding-right: 20px;
    height: 30px;
    font-weight: bold;
    font-size: 14px;
}
#nav ul li a:hover {
    border-bottom: 5px solid #2D3092;
}

#selected {
    border-bottom: 5px solid #2D3092;
}

.clearfix { clear: both; }

input.searchbox {
    margin-top: 10pt;
    margin-left: 1em;
    background-image:url('/static/images/mag_glass.png');
    background-repeat: no-repeat;
    background-position: right;
    border-radius: 3px;
    height: 14pt;
}

img.align-left {
    float: left;
    border: 0;
}

h1, h2, h3, h4, h5 {
    font-family: 'Nunito', sans-serif;
    margin: 5pt;
    color: #444444;
}

h1 {
    font-size: 30pt;
    font-style: italic;
    /* font-weight: normal; */
    margin: 10pt;
}

h3 {
    font-size: 20pt;
    font-weight: normal;
}

#outertopbar{
   background-color: #333333;
   height: 30px;
   width: 100%;
}

#innertopbar {
   
   color: #fff;
   text-align:right;
   width: 800px;
   margin-left: auto;
   margin-right: auto;
   padding:  5px 15px 5px 5px;
   vertical-align: middle;
   font-size: 15px;
    font-family: 'Nunito', sans-serif;   

}

#outerheader {
background-color: #fff;
   height: 133px;
   width: 100%;
    border-bottom: 5px solid #ccc;
}
#innerheader {
   max-width: 800px;
   margin-left: auto;
   margin-right: auto;   
   padding-top:20px;
}

#topborder {
   background-color: #333333;
   height: 10px;
   width: 100%;
}

#sidebar {
    margin-left: 5pt;
    float: left;
    width: 20%;
}

#maincol {
    margin-left: 30%;
}

.personname {
    color: #333333;
    font-size: xx-large;
}

.comment {
    color: #aaaaaa;
    font-style: italic;
    font-size: large;
}

.signature {
    color: #333333;
    float: right;
}

.commentbox {
    margin-top: 10pt;
    margin-bottom: 10pt;
    width: 40%;
}

hr {
    color: #333333;
}

#left {
    float: left;
    width: 50%;
    margin-left: 5pt;
    height: 100%;
}

#right {
    margin-left: 55%;
    width: 55%;
}

#submitbar {
    margin-left: 5pt;
}

.whatswrong {
    font-size: 14pt;
    font-weight: bold;
    margin-bottom: 5pt;
}

.inputrow {
    margin-top: 5pt;
}

.caption {
    font-weight: bold;
}

ul.symptomlist {
    list-style: none;
}
ul.symptomlist li {
    font-size: 10pt;
}

/* animated nav */
#blob {

    background-color: transparent !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 5px solid #2E3092;    
    position: absolute;
    z-index: 1;
    top: 0;    
}

.bigbutton {
    padding: 20px;
    background-color: #2E3092;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    float: right;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    height: 30px;
    clear: both;
    margin: -65px 0px 0px 0px;
}

.bigbuttonprofile {
    padding: 20px;
    background-color: #2E3092;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    float: right;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    height: 30px;
    clear: both;
}

#content {
    padding-top: 20px;
    padding-bottom: 50px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Nunito', sans-serif;   
}
input {
    border: 1px solid black;
}

#outerfooter{
    background-color: #444;
}

#innerfooter {

    padding-top: 50px;
    padding-bottom: 50px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    
}

a.buttonlink {
    text-decoration: none;
    color: #fff;
}

.quote {
    font-style: italic;
}

ol {
    margin-left: 20pt;
}

ol ul {
    margin-left: 20pt;
}

#innertopbar a:link {color:#ddddff;}      /* unvisited link */
#innertopbar a:visited {color:#ddddff;}  /* visited link */
#innertopbar a:hover {color:#ffffff;}  /* mouse over link */
#innertopbar a:active {color:#ffffff;}  /* selected link */ 

#privatediv {
    background-color: #dddddd;
    border: 1px solid #aaaaaa;
    padding: 10px;
}

#updatesymptoms {
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid black;
    display: none;
}

#updatesymptoms ul {
    list-style: none;
}
