{% extends 'base.html' %}
{% block title %}About PoorMe{% endblock %}
{% block headerext %}
<div class="bigbutton"><a href="/input" class="buttonlink">I'm Sick</a></div>
{% endblock %}
{% block content %}

<h2>Welcome to PoorMe!</h2>
<p>
PoorMe is a web (and soon mobile) app that puts the "Public" back in Public Health!  For common, preventable illnesses including influenza, the common cold, and foodborne disease, many people don't report their symptoms to a doctor and are therefore invisible to the public health organizations charged with preventing disease and stopping outbreaks.</p><br>
<p>
As a result, outbreak investigations and estimates of disease burden are delayed and inefficient. This means more illness and lost productivity in our communities. PoorMe aims to solve this problem.</p><br>
<p>
We are creating an app where it is easy for people to take care of themselves, their loved ones, and their communities.  PoorMe users can:
</p><br>
<ol>
<li>Share symptoms anonymously and contribute to real time data. This data is in-turn displayed on a map showing who's sick and where, in your area.</li>
<li>Connect with other sick friends -- might we suggest offering advice, sympathy, empathy or stories.</li>
<li>Support local businesses through one-click delivery of goodies like soup, a free dog-walk, or anything else that will make your sick friends' lives easier.
  <ul>
    <li>
      PoorMe started as a project at <a href="http://www.startupweekend.org">Startup Weekend</a> where 6 individuals met for the first time and bonded over a common interest in crowd-sourcing public health data. Over the ensuing 48 hours, we built this site !</li>
    <li>
      Feel free to reach out with any questions, comments, concerns, bugs, or any other feedback -- kdb26 at uw.edu
    </li>
  </ul>
</li>
</ol><br>

{% endblock %}
