{% extends 'base.html' %}
{% block title %}About PoorMe{% endblock %}
{% block content %}

<h2>About</h2>
<p>
With the changes anticipated in the structure and source of health insurance legislated by the newly enacted Affordable Care Act, the responsibility for managing your own wellness will be more important than ever. Fostering a spirit of caring and public health awareness is an integral component for success at both a personal and community level. Research suggests that individuals with emotional support during illness may experience shorter durations and perceive less suffering.
</p>
<br>
<p>
PoorMe establishes a "Community of Commiseration" – This allows you to tap into your commonly used social network. Easy access to your existing network saves time and precious energy to request sympathy and assistance in your time of need.
</p>
<br>
<p>
PoorMe connects you to local business that can provide you with comforts that help you feel better.
</p>
<br>
<p>
By sharing your symptoms you are contributing valuable information, which is useful public health data.
</p>
<br>
<h2>Bios</h2>
<p>
<b>Karlyn Beer</b> holds a MS in epidemiology from UW School of Public Health and is a current PhD candidate in the Molecular and Cellular Biology program at UW and Institute for Systems Biology.  Contact Karlyn at kdb26 @ uw.edu for more information, collaborations and site suggestions/updates. Twitter @KarlynBeer
</p>
<br>
<p>
<b>Kathleen Tuite</b> is a PhD student in Computer Science at the University
of Washington. She is part of the Graphics and Vision lab GRAIL as
well as the Center for Game Science, where she worked on the games
Fold It and PhotoCity. She is passionate about enabling the crowd to
contribute data in a way that adds up.
</p>
<br>
<p>
<b>Brian Reyes</b> is a User Experience Designer working for PitchBook Data, Inc.  He also contributes to several small projects via <a href="www.bcr-design.com">www.bcr-design.com</a>.  He enjoys building websites and applications that are fun and easy to use.
</p>
<br>
<p>
<b>Matt Decuir</b> is an aspiring programmer with a background in analytics.  He spent the last 6 months travelling the world and is looking forward to moving to Minneapolis to be closer to his girlfriend.  He loves talking about poop.
</p>
<br>
<p>
<b>Wei-ju Wu</b> is a german software engineer at the Institute for Systems Biology. He studied computer science and biochemistry at the Free University and Humboldt-University in Berlin. He is driven by the desire to create software that helps researchers fighting diseases and benefit society.
</p>
{% endblock %}

