{% extends 'base.html' %}
{% block title %}About PoorMe{% endblock %}
{% block content %}

<p>
With the changes anticipated in the structure and source of health insurance legislated by the newly enacted Affordable Care Act, the responsibility for managing your own wellness will be more important than ever. Fostering a spirit of caring and public health awareness is an integral component for success at both a personal and community level. Research suggests that individuals with emotional support during illness may experience shorter durations and perceive less suffering.
</p>

<br />

<p>
PoorMe establishes a "Community of Commiseration" – This allows you to tap into your commonly used social network. Easy access to your existing network saves time and precious energy to request sympathy and assistance in your time of need.
</p>

<br />

<p>
PoorMe connects you to local business that can provide you with comforts that help you feel better.
</p>

<br />
  
<p>
By sharing your symptoms you are contributing valuable information, which is useful public health data.
</p>

{% endblock %}

