<!doctype html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/main.css" type="text/css" />
    <script src="/static/javascripts/jquery-1.9.0.min.js"></script>
    <meta name="viewport" content="width=device-width/" >
    {% block jsext %}{% endblock %}
  </head>
  <body>
    <div id="topborder"></div>
    <a href="/"><img alt="logo" src="/static/images/logo.png" class="align-left"></a>
    <div id="nav">
      <ul>
        <li><a href="/" class="{{homeclass}}">Home</a></li>
        <li><a href="about" class="{{aboutclass}}">About</a></li>
        <li><a href="team" class="{{teamclass}}">Team</a></li>
        <li><a href="contact" class="{{contactclass}}">Contact</a></li>
        <li><input type="text" onfocus="this.value=''" value="Search" class="searchbox"></li>
      </ul>
    </div>
    <div class="clearfix"></div>
    <div id="content">
      {% block content %}{% endblock %}
    </div>
    <div id="footer"></div>
  </body>
</html>
