{% extends 'base.html' %}
{% block title %}Poor Me - Communication{% endblock %}
{% block jsext %}
<script type="text/javascript">
  $(document).ready(function() {
  });
</script>
{% endblock %}
{% block headerext %}
<div class="bigbutton"><a href="/input" class="buttonlink">I'm Sick</a></div>
{% endblock %}
{% block content %}
<div id="sidebar">
  <div class="personname">{{status.name}}</div>
  <div class="comment">"{{status.status.text}}"</div>
  {% if wishlist.count > 0 %}
  <div>Wishlist</div>
  <ul>
    {% for w in wishlist.all %}
    <li>{{w.name}}</li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
<div id="maincol">
  {% if replies.count == 0 %}
  <div style="height: 2em; font-style: italic">Be the first to leave a reply to {{status.name}}</div>
  {% else %}
  {% for r in replies.all %}
  <div class="commentbox">
    <div class="comment">"{{r.text}}"</div>
    <div class="signature">- {{r.author}}</div>
    <div class="clearfix"></div>
    <hr>
  </div>
  {% endfor %}
  {% endif %}
  <div>
    <form action="/communication/{{status.id}}" method="post">{% csrf_token %}
    <div>Comment</div>
    <textarea name="text" cols="40" rows="8"></textarea>
    {% if wishlist.count > 0 %}
    <div>Send the following to {{status.name}}</div>
    <ul style="list-style: none">
      {% for w in wishlist.all %}
      <li><input type="checkbox">{{w.name}}</li>
      {% endfor %}
    </ul>
    {% endif %}

    <div>Name</div>
    <div><input name="author" type="text"> <input type="submit" value="Submit"></div>
    </form>
  </div>
</div>
{% endblock %}

