{% extends 'base.html' %}
{% block title %}PoorMe - Input{% endblock %}
{% block jsext %}
<script type="text/javascript">
  $(document).ready(function() {
    $('#anonymous').click(function() {
      $('#nameinput').prop('disabled', $(this).is(':checked'));
    });
  });
</script>
{% endblock %}
{% block content %}
{% if errors %}
{{errors}}
{% endif %}
<div id="inputarea">
  <form action="/input" method="post">{% csrf_token %}
  <div id="left">
    <div class="inputrow"><span class="caption" id="namecaption">Name</span> <input name="name" id="nameinput" type="text"></div>
    <div class="inputrow"><input name="anonymous" id="anonymous" type="checkbox"> <span>stay anonymous</span></div>
    <div class="inputrow"><span class="caption">Status</span></div>
    <div class="inputrow"><textarea name="status" rows="5" cols="40"></textarea></div>
    <div class="inputrow"><span class="caption">Zip</span></div>
    <div class="inputrow"><input name="zipcode" type="text"></div>
  </div>
  <div id="right">
    <div class="whatswrong">What's wrong ?</div>
    <ul class="symptomlist">
    {% for symptom in symptoms %}
    <li><input type="checkbox" name="symptoms" value="{{symptom.id}}"> {{symptom.name}}</li>
    {% endfor %}
    </ul>
  </div>
  <div class="clearfix" style="height: 2em;"></div>
  <div style="margin-left: 5pt;">
    <div class="whatswrong">What would you like your friends to send you ?</div>
    <ul class="symptomlist">
    {% for item in stuffs %}
    <li><input type="checkbox" name="wishlist" value="{{item.id}}"> {{item.name}}</li>
    {% endfor %}
    </ul>
  </div>
  <div id="submitbar"><input type="submit" value="Submit"></div>
  </form>
</div>
{% endblock %}
