{% extends 'base.html' %}
{% block title %}PoorMe - Input{% endblock %}
{% block jsext %}
<script type="text/javascript">
  $(document).ready(function() {
    $('#anonymous').click(function() {
      if ($(this).is(':checked')) {
        $('#nameinput').prop('value', 'anonymous');
      } else {
        $('#nameinput').prop('value', '');
      }
      $('#nameinput').prop('disabled', $(this).is(':checked'));
    });

    $.ajax({
      type: "GET",
      url: "http://api.ipinfodb.com/v3/ip-city/?key=139a60d81999b3025d9fc13d412ae7f3997ff110cace95b1505fb72258aaef64&format=json",
      dataType: "jsonp",
      success: fillInZip
    });
  });

  function fillInZip(data){
      console.log("fill in zip ", data);
      $("#id_zipcode").val(data.zipCode);
  }
</script>
{% endblock %}
{% block content %}


<div id="inputarea">
  <form action="/input/" method="post" id="illnessForm">{% csrf_token %}
  <div id="left">
        <div class="inputrow"><span class="caption" id="namecaption">Name</span> {{ user.first_name }}</div>
        <!--<div class="inputrow"><input name="anonymous" id="anonymous" type="checkbox"><span>hide from map</span></div> -->
        <div class="inputrow"><span class="caption">Status</span></div>
        {% if text_errors %}
        {{text_errors}}
        {% endif %}
        
        <div class="inputrow">{{ text_form.text }} </div> 
        
        <div class="inputrow"><span class="caption">Zip</span></div>
        {% if episode_errors %}
            {{episode_errors}}
        {% endif %}
        <div class="inputrow">{{ episode_form.zipcode }}</div>   
  </div>
  <div id="right">
  
    <div class="whatswrong">What's wrong ?</div>
    {% if update_errors %}
        {{update_errors}}
    {% endif %}
    {{ update_form.symptoms }}
  </div>
  
  <div class="clearfix" style="height: 2em;"></div>

    <div id="submitbar"><input type="submit" value="Save symptoms and status"></div>
  </form>
</div>
{% endblock %}
