{% extends 'base.html' %}
{% block title %}PoorMe - Our Team{% endblock %}
{% block content %}
<h3>Quotes</h3>
<div>"I think I'm getting the black lung, pop" -- Brian, Designer</div>
<div>"Log odds + odd logs: poop for public health since 2013" Karlyn -- Team Lead</div>
<div>"bathroom: KEEP OUT" -- Lisa, Project Manager</div>
<div>"You read my diarrhea!?" -- Kathleen, Developer</div>
<div>"I don't always get sick, but when I do, I drink dos equis" -- Matt, Customer Development</div>
<div>"while(seattle.rain==true) get(sick)" -- Wei-Ju, Developer</div>
{% endblock %}

