{% extends 'base.html' %}
{% block title %}PoorMe - Our Team{% endblock %}
{% block headerext %}
<div class="bigbutton"><a href="/input" class="buttonlink">I'm Sick</a></div>
{% endblock %}
{% block content %}
<img src="static/images/teamdookie.jpg" style="border: 0">
<h3>Quotes</h3>
<div><span class="quote">"I think I'm getting the black lung, pop"</span> -- Brian, Designer</div>
<div><span class="quote">"Log odds + odd logs: poop for public health since 2013"</span> -- Karlyn, Team Lead</div>
<div><span class="quote">"bathroom: KEEP OUT"</span> -- Lisa, Project Manager</div>
<div><span class="quote">"You read my diarrhea!?"</span> -- Kathleen, Developer</div>
<div><span class="quote">"I don't always get sick, but when I do, I drink dos equis"</span> -- Matt, Customer Development</div>
<div><span class="quote">"while(seattle.rain==true) get(sick)"</span> -- Wei-Ju, Developer</div>
{% endblock %}

